body{
	font-family:'Times New Roman', Times, serif;
	background:rgba(195, 196, 191, 0.986);
	background-image:url(./images/fond.png);
	border-style:solide;
	font-family: 'Times New Roman', Times, serif;

}
header{
background:white;
color:black;
height: 200px;
padding:1px;
width: 1550px;
margin: 10px;
border-bottom:20px;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;

}
#tesla{ width:300px; 
	   height: 200px;
	   margin-bottom:5px ;
	   float:left;}
#banniere{width: 1550px;
	      height:600px;
		  float: center;
		}
	 
#sie{
	width: 250px; 
	height: 100px; 
		}

	
	   
footer{	
	background:	rgba(195, 196, 191, 0.986);
	;
    margin:4px;
	font-family:Georgia, 'Times New Roman', Times, serif
}
nav{
	height:20px;
	padding:1rem;
	margin: 20px;
	border-style:5px;
	background:black;
	font-family:Georgia, 'Times New Roman', Times, serif

}
.dg{
	height:230px;
	width:180px;
	float:left;
	vertical-align:top;
	margin-top:10px;
margin-right:15px;
}
section aside{
	width:240px;
	background-image:url(./images/fond_jaune3.png);
	vertical-align:top;
	padding:2px;
	float:right;
	
	box-shadow:2px 4px 3px black;
	color:red;

}

    } 
div img{
    width:1050px;
    height: 280px;
    padding:5px;
    margin:40px;}
section{
    background:white;
    padding:1rem;
    margin:px;
    }

article img{
	float:left;
	margin-right:15px;
	padding-top:10px;
}
nav a{
    color:white;
    margin-right:200px;
    margin-left:20px;
    text-decoration:none;
	width:2000px ;
    }

	nav a{
		color:white;
		margin-right:30px;
		margin-left:20px;
		text-decoration:none;
		}
	article{
		width:1000px;
		}
	aside{ width:150px;
	vertical-align:100px;}
	footer aside{
	   display:inline-block;
	   margin:70px
	  }
	footer p, footer li{
		color:black;
		text-decoration:none;
		}
	section article{
			width:900px;
			
			
		}
	section article,section aside,section from{
			display:inline-block;
		}
	table{
		background-image:url(./images/fond_jaune.png);
		  text-align:center;
		  margin-left:200px;
		  
	  }
	footer aside{
		  display:inline-block
	  }
	  article,form{display:inline-block;}